.carouselCont{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.carouselCont{
    margin-top: 50px;
    margin-bottom: 10px;
}