<h2>Register</h2>
<div class="container-sm">
    <div class="row justify-content-md-center">
        <div class="col-sm-4">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group form-floating">
                    <input type="text" id="floatingPassword" placeholder="" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <label for="floatingEmail">email</label>
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">First Name is required</div>
                    </div>
                </div>
                <div class="form-group form-floating">
                    <input type="text" id="floatingPseudo" placeholder="" formControlName="pseudo" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pseudo.errors }" />
                    <label for="floatingPseudo">Pseudo</label>
                    <div *ngIf="submitted && f.pseudo.errors" class="invalid-feedback">
                        <div *ngIf="f.pseudo.errors.required">Last Name is required</div>
                    </div>
                </div>
                <div class="form-group form-floating">
                    <input type="password" id="floatingPassword" placeholder="" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <label for="floatingPassword">Password</label>
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Register
                    </button>
                    <a routerLink="/login" class="btn btn-link">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>