<div class="row" infinite-scroll (scrolled)="onScrollDown($event)">
    <div *ngFor="let anime of liste" class="col-lg-4 col-md-6 col-sm-6">
        <div class="product__item">
            <div class="product__item__pic set-bg" style="background-image:url({{anime.coverImage.extraLarge}});">
                <div class="ep">{{anime.episodes}} / {{anime.episodes}}</div>
                <div class="comment"><i class="fa fa-comments"></i> 11</div>
                <div class="view"><i class="fa fa-eye"></i> 9141</div>
            </div>
            <div class="product__item__text">
                <!-- <ul>
                    <li>Active</li>
                    <li>Movie</li>
                </ul> -->
                <h5 class="link_to_detail"><a class="btn btn-outline-dark" (click)="goToDetailAnime(anime.id)">{{anime.title.romaji}}</a></h5>
            </div>
        </div>
    </div>
</div>