<form [formGroup]="FormUploadManga">
    <div class="row">
        <label for="title">Title : </label>
        <input type="text" id="title" formControlName="title" />
    </div>

    <div class="row">
        <label for="front_picture">Front Picture : </label>
        <input type="file" id="front_picture" formControlName="front_picture" accept="image/png, image/gif, image/jpeg"/>
    </div>

    <div class="row">
        <label for="path_folder">Path Folder : </label>
        <input type="file" id="path_folder" formControlName="path_folder" (change)="selectFolder($event)" webkitdirectory mozdirectory msdirectory odirectory directory multiple/>
    </div>

    <button type="button" id="validateButton" class="btn btn-dark btnAdd" (click)="uploadManga()">UPLOAD MANGA</button>
</form>